body {
  position: relative;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
  color: #000;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 10%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(0,212,255,1) 90%, rgba(9,9,121,1) 100%);
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #888;
  color: #fff;
  background-color: #000;
}

nav {
  height: 2rem;
}

h1 {
  margin: 0;
}

.menu {
  position: absolute;
  top: calc((2.7em - 3vmax) / 2);
  right: calc((2.7em - 3vmax) / 2);
  width: 3vmax;
  height: 3vmax;
  border: none;
  background-image: url("./assets/hamburger.svg");
  background-size: cover;
  background-color: transparent;
  visibility: hidden;
}

.nav-link {
  color: white;
}

main {
  width: 100%;
}

.avatar {
  max-width: 68vw;
  max-height: 68vh;
  padding: 2vmin 0;
  margin: auto;
  margin-top: calc(2rem + 2.67em);
  border-radius: 50%;
}

h2 {
  transition: background-color 1s linear;
}

h3 {
  max-width: 100vw;
  margin: auto;
  font-weight: bold;
}

h5,
h6 {
  margin: 0;
}

mark {
  font-style: italic;
  background-color: inherit;
}

ul {
  max-width: max-content;
  margin: auto;
  padding: 0 5vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.javascript {
  text-align-last: left;
  margin: auto;
  width: max-content;
  background: none;
}

#works {
  display: block;
  column-count: 3;
}

#works li {
  break-inside: avoid-column;
}

.work > img {
  width: 30%;
  cursor: pointer;
}

iframe {
  width: 64vw;
  height: 36vw;
  box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

.anchor {
  width: max-content;
    margin: auto;
  padding-top: calc(2rem + 2.67em - 4vmin);
  margin-top: calc(-2rem - 2.67em + 4vmin);
  background-clip: content-box;
}

li {
  margin: 1vmin;
  font-style: italic;
  list-style-type: none;
}

li > div {
  width: max-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > div:hover {
  transform: scale(1.2);
}

li > div > * {
  margin: 0 1vmin;
  width: max-content;
  height: 3vmax;
}

li > div > h4 {
  height: max-content;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  color: darkorange;
}

footer {
  width: 100%;
  height: max-content;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.footer-image {
  filter: invert(100%);
  height: 3vw;
}

.asyde {
  position: fixed;
  top: calc(2.67em - 3px);
  right: 0;
  width: max-content;
  height: max-content;
  display: block;
  background-color: #000;
}

.asyde > ul {
  width: max-content;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

@media (max-width: 999px) {
  #works {
    column-count: 2;
  }
}

@media (max-width: 666px) {
  .menu {
    visibility: visible;
  }

  nav {
    display: none;
  }

  .avatar {
    margin-top: 2rem;
  }

  .anchor {
    padding-top: calc(2.67em - 4vmin);
    margin-top: calc(-2.67em + 4vmin);
  }
}

@media (max-width: 400px) {
  #works {
    display: flex;
  }
}
