body {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
  color: #000;
  text-align: center;
  background-color: #fff;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #888;
  color: #fff;
  background-color: #000;
}

main {
  max-width: 1280px;
  margin: auto;
}

.avatar{
  max-width: 68vw;
  max-height: 68vh;
  padding: 2vw 16%;
  margin: auto;
  margin-top: 10vw;
  border-radius: 50%;
}

h3 { font-weight: bold; }

span { font-style: italic; }

li {
  font-style: italic;
  list-style-type: none;
}

p { font-style: normal; }

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover { opacity: .8; }

footer {
  width: 100%;
  padding-top: 10px;
  color: #fff;
  background-color: #000;
}

.footer-image{
  filter: invert(100%);
  max-height: 3vw;
}